*
{
    margin: 0;
    padding: 0;
}

/* 避免 scroll 出現白底 */
html, body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    /* mix-blend-mode: exclusion; */
    /* 可與其他 DIV 元素疊合 */
}

.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}

.point
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.point .label
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    cursor: help; /* 游標在上方時顯示問號 */
    transform: scale(0, 0); /* 在 loading 時先隱藏 */
    transition: transform 0.3s; /* 出現時的特效 */
}

/* 在 loading 完要加入的 class */
.point.visible .label
{
    transform: scale(1, 1);
}

.point .text
{
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;               /* 在 .label 被 hover 前隱藏字幕 */
    transition: opacity 0.3s; /* 顯示和淡去時的特效 */
    pointer-events: none;     /* 避免 .text 在 hover 時被觸發事件 (只想觸發 .label) */
}

/* .point hover 時，改變 .text，即跳出 .text 文字 */
.point:hover .text
{
    opacity: 1; /* 顯示字幕 */
}


